.collegas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.avatar img {
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 2rem;
  padding: 1rem;
}
h1{
  text-align: center;
}
.collega{
  flex-direction: column;
  display: flex;
  width: 25%;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 25px;
  margin:10px;
  text-align: center;
  padding-inline: .5rem;
}
.avatar{
  width: 100%;
}
.collega:nth-child(1) > img{
  object-position: 0%;
}
.collega:nth-child(3) > img{
  object-position: 100%;
}
.collega > img{
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
