.navbar {
    display: flex;
    justify-content: space-around;
    background-color: orange;
}
.gaming{
    display: flex;
    flex-wrap:wrap;
}
.gaming1 {
    text-align: center;
}
.t1 {
    justify-content: space-between;
}